<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanttamhanttam.review.mapper.ReviewMapper">

    <insert id="insert"
            parameterType="com.hanttamhanttam.review.domain.Review"
            useGeneratedKeys="true"
            keyProperty="reviewId">

        INSERT INTO reviews (
        project_id,
        modifications,
        good_points,
        bad_points,
        created_at,
        updated_at
        )
        VALUES (
        #{projectId},
        #{modifications},
        #{goodPoints},
        #{badPoints},
        NOW(),
        NOW()
        )

    </insert>

    <select id="findByProjectId"
            resultType="com.hanttamhanttam.review.domain.Review">

        SELECT
        review_id AS reviewId,
        project_id AS projectId,
        modifications,
        good_points AS goodPoints,
        bad_points AS badPoints,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM reviews
        WHERE project_id = #{projectId}

    </select>

    <update id="update">

        UPDATE reviews

        SET
        modifications = #{modifications},
        good_points = #{goodPoints},
        bad_points = #{badPoints},
        updated_at = NOW()

        WHERE review_id = #{reviewId}
        AND project_id = #{projectId}

    </update>

</mapper>