<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanttamhanttam.review.mapper.ReviewMapper">

    <insert id="insert"
            parameterType="com.hanttamhanttam.review.domain.Review"
            useGeneratedKeys="true"
            keyProperty="reviewId">

        INSERT INTO reviews (
        project_id,
        modifications,
        good_points,
        bad_points,
        created_at,
        updated_at
        )
        VALUES (
        #{projectId},
        #{modifications},
        #{goodPoints},
        #{badPoints},
        NOW(),
        NOW()
        )

    </insert>


</mapper>